@using ECommerceSiteWithAPIs.Models.Dtos
@model IEnumerable<ColorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .colortd{
        padding: 5px 34px;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.45rem;
    }
</style>

<div class="card shadow border-0">
    @* <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
    <div class="col-12 text-center">
    <h1 class="text-white">Products List</h1>
    </div>
    </div>
    </div> *@
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Color" asp-action="Upsert" class="btn bg-gradient-dark mb-0"><i class="bi bi-plus-square"></i>Create Color</a>
            </div>
        </div>
        <table id="tblProducts" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td style="width: 33rem;">Color Name</td>
                    <td class="text-center">Color</td>
                    <td class="text-center">Status</td>
                    <td class="text-center">Actions</td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">@item?.Name</td>
                            <td class="text-center align-middle">
                                <span class="colortd" style="background-color:@item?.ColorCode"></span>
                                @* @item?.TB_COLOUR_ID *@
                            </td>
                            <td class="text-center align-middle">
                                @if (item?.Status == "0")
                                {
                                    <span class="badge bg-info">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">InActive</span>
                                }
                            </td>
                            <td class="text-center align-middle">
                                <a asp-area="Admin" asp-controller="Color" asp-action="Upsert" asp-route-id="@item.Id" class="badge bg-dark btn-link text-white px-3 mb-0">
                                    <i class="fas fa-pencil-alt text-white me-2"></i>
                                    Edit
                                </a>
                                <a asp-area="Admin" asp-controller="Color" asp-action="Delete" asp-route-id="@item.Id" class="badge bg-danger btn-link text-white px-3 mb-0">
                                    <i class="far fa-trash-alt me-2"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>